#driverClassName=org.h2.Driver
#jdbcUrl=jdbc:h2:mem:testdb;MODE=MYSQL;INIT=runscript from 'create_db.sql'
driverClassName=org.mariadb.jdbc.Driver
jdbcUrl=jdbc:mariadb://localhost:3306/testdb?useServerPrepStmts=true

username=testuser
password=123456
